/* set styles for body */
html, body {
    height: 100%;
    background-color: orange;
    padding-top: 50px;
    height: 100%;
	font-family: Montserrat-Regular, sans-serif;
  font-weight: 400;
}
/* set the style for page-header to blue */
.page-header{
color: blue;}

/* set the style for navbar brand blue */
.navbar-brand{
background-color: blue;
}
/* set the style for navbar background to red */
.navbar{
background-color: red;
}
.home{
background-color: blue;
}
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}
.home{
	background: rgb(155,171,240); 
	width: 100%;
	min-width: 0px;
	height: 400px;
	margin: 30px 30px;
	width: 1200px;
	position: relative;z-index:6;
  border-color: rgb(80,177,231);border-width: 2px;border-style: solid;
  display:block; float:left; 
}
.webshop{
	background: rgb(155,171,240); 
	width: 100%;
	min-width: 0px;
	height: 700px;
	margin: 30px 30px;
	width: 1200px;
	position: relative;z-index:6;
  border-color: rgb(80,177,231);border-width: 2px;border-style: solid;
  display:block; float:left; 
}
a {
	font-family: Montserrat-Regular;
  font-weight: 400;
	font-size: 15px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
/*body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}*/

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
/* Add your styles below with commenst */




